// Custom styles on top of Adidoks + Bootstrap

.info-card {
  h4 {
    margin-top: 0;
  }
}

code {
  // Needed to work around https://github.com/aaranxu/adidoks/issues/23
  background: inherit;
}

// Landing page styles

.bml-output-wrapper {
  min-height: 4em;
}

.bml-output-target {
  position: absolute;
  transition: opacity 0.5s ease-in;
}

// End of landing page styles
