// Custom styles on top of Adidoks + Bootstrap

$monokai-bg: #272822;
$monokai-comment: #797979;
$monokai-fg: rgb(248, 248, 242);


.card {
  h4 {
    margin-top: 0;
  }
  > p:last-child {
    margin-bottom: 0;
  }
}

code {
  ::selection {
    background: #334444dd;
  }
}

main {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// Make inline code snippets not spaced weird
p {
  code {
    padding: 0;
  }
}

.bml-snippet-wrapper {
  margin: 2rem 0;
  background: $monokai-bg;
  color: $monokai-fg;
  border-radius: 0.25rem;

  pre {
    margin: 0;
  }

  .bml-snippet-output-wrapper {
    border-top: 1px solid $monokai-comment;
    padding: 1.25rem 1.5rem;
    .bml-snippet-output-label {
      color: $monokai-comment;
    }
  }
}

// Make scrollbars look good in dark mode for webkit browsers
// (Firefox already looks good in dark mode)
::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.8);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}

.front-page-sandbox {
  $editor-pane-min-height: 28rem;
  min-height: $editor-pane-min-height;
  .editor-wrapper {
    // For some reason I have to explicitly set this height.
    // 100% doesn't work. I think it's some weird interaction
    // between the Ace editor magic and flexbox
    min-height: $editor-pane-min-height;
    position: relative;
  }

  #editor {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .bml-output-wrapper {
    min-height: 6rem;
    position: relative;
  }

  .bml-output-target {
    position: absolute;
    top: 0;
    right: 0.5rem; // to align with lao tzu source
    bottom: 0;
    left: 0;
    transition: opacity 0.5s ease-in;

    > p {
      margin-bottom: 0;
    }
  }

  #lao-tzu-5-source {
    display: none;
  }

  // Bootstrap mixins aren't available here, so including it manually
  // 1200px corresponds with `@include media-breakpoint-up(xxl)`
  // https://getbootstrap.com/docs/5.0/layout/breakpoints/
  @media (min-width: 1400px) {
    #lao-tzu-5-source {
      display: block;
      transition: opacity 0.5s ease-in;
      writing-mode: vertical-rl;
    }
  }
}

// Make the whole page monokai on /sandbox

// .sandbox-page {
//   background: $monokai-bg !important;

// }

// header {
//   .sandbox-page & {
//     background: $monokai-bg !important;
//   }
// }

$editor-height: 60vh;

.full-page-sandbox {
  background: $monokai-bg;

  > .container-fluid {
    border-bottom: 1px solid $monokai-comment;
  }

  .editor-wrapper {
    height: $editor-height;
    position: relative;
  }

  #editor {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .bml-output-wrapper {
    height: $editor-height;
    position: relative;
  }

  .bml-output-target-wrapper {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .bml-output-target {
    transition: opacity 0.5s ease-in;
  }

  .editor-help {
    input {
      color: inherit;
      border: 1px solid $monokai-comment;
      background: $monokai-bg;
    }
    // Disable inc/dec widgets since they are unstyleable
    input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    #bml-render-settings {
      width: 20rem;
    }
  }

  // Adidoks doesn't dark-theme modals, so patch the bg color on the
  // modal with the main dark mode bg color
  .modal-content {
    * {
      color: var(--bs-dark);
    }
  }
}

.bml-error {
  text-decoration: underline;
  text-decoration-color: red;
}
