{% macro footer() %}
<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col">
        This site is available under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>: No Rights Reserved.
        Help improve these docs <a href="https://github.com/ajyoon/bml-lang.org">here</a>.
        Built with <a href="https://www.getzola.org/">Zola</a> using the <a href="https://github.com/aaranxu/adidoks">AdiDoks</a> theme.
      </div>
    </div>
  </div>
</footer>
{% endmacro %}
