<script>
 let wrappers = document.getElementsByClassName('bml-snippet-wrapper');
 for (let wrapper of wrappers) {
   let codeDivs = wrapper.getElementsByTagName('code');
   let bmlSrc = '';
   if (codeDivs.length == 2) {
     // Treat first code div as hidden setup code
     codeDivs[0].parentElement.style.display = 'none';
     bmlSrc = codeDivs[0].textContent + '\n' + codeDivs[1].textContent;
   } else if (codeDivs.length == 1) {
     bmlSrc = codeDivs[0].textContent;
   } else {
     throw new Error('Code snippet required');
   }
   let renderTarget = wrapper.getElementsByClassName('bml-output-target')[0];
   function regenerate() {
     let renderResult = bml(bmlSrc);
     renderTarget.innerHTML = renderResult.replace('\n', '<br/>');
   }
   regenerate();
   let regenerateButton = wrapper.getElementsByTagName('button')[0].onclick = regenerate;
 }
</script>
