{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block page_specific_head_tags %}
  <script src="js/bml.bundle.js"></script>
{% endblock page_specific_head_tags %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <section class="section container-fluid mt-n3 pb-3">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h1 class="mt-0">{{ section.title }}</h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
          <p class="lead">{{ section.extra.lead | default(value="Please start setting config.toml and adding your content.") | safe }}</p>
          <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ get_url(path=section.extra.url | default(value="/")) | safe }}" role="button">{{ section.extra.url_button | default(value="Get started") }}</a>
          <p class="meta">{{ section.extra.repo_license | default(value="MIT")}} <a href="{{ section.extra.repo_url | default(value="https://github.com/aaranxu/adidoks") | safe }}">{{ section.extra.repo_version | default(value="0.1.0") }}</a></p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col">
      {{ section.content | safe }}
    </div>
    <div class="col">
      <div class="bml-output-wrapper">
        <div class="bml-output-target" id="bml-target-1"></div>
        <div class="bml-output-target" id="bml-target-2"></div>
      </div>
    </div>
  </div>
</div>

{% raw %}
<!-- Code for live-regenerating BML example -->
<script>
 let bmlSrc = `
{#bellows: (a bellows), (an accordion)}
{
    (Are not Heaven and Earth like {@bellows}?),
    (Yet Heaven and Earth and all that lies between are like {@bellows}.),
    (Yet is not the space between Heaven and Earth like {@bellows}?),
    (But isn't the space between Heaven and Earth like {@bellows}?)
}<br/>
Empty yet structured,
{@bellows:
    0 -> ({
        (worked, yet still the wind blows),
        (it moves, inexhaustibly giving)
    }),
    1 -> ({
        (pushed and pulled, inexhaustibly singing),
        (it moves, inexhaustibly singing),
        (worked, yet singing without end)
    })
}.`;
 let activeOutput = 1;
 function rotateBmlOutput() {
   let oldOutputTarget = document.getElementById('bml-target-' + activeOutput);
   oldOutputTarget.style.opacity = 0;
   activeOutput = activeOutput === 1 ? 2 : 1;
   let outputTarget = document.getElementById('bml-target-' + activeOutput);
   outputTarget.innerHTML = bml(bmlSrc, {renderMarkdown: true});
   outputTarget.style.opacity = 1;
   setTimeout(rotateBmlOutput, 3000);
 }
 rotateBmlOutput();
</script>
{% endraw %}

{% endblock content %}



