{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}

  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

  {% set description = config.description %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block page_specific_head_tags %}
  <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
{% endblock page_specific_head_tags %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <section class="section container-fluid mt-n3 pb-3">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h1 class="mt-0">{{ section.title }}</h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
          <p class="lead">Write text that changes</p>
          <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/getting-started/introduction" role="button">Get Started</a>
          or
          <a class="btn btn-primary btn-lg px-4 mb-2" href="/sandbox" role="button">Try It Online</a>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container mb-4 front-page-sandbox">
  <div class="row gy-4 align-items-center justify-content-start">
    <div class="col-md-16 col-lg-9 editor-wrapper h-100">
      <div id="editor">
      </div>
    </div>
    <div class="col-md-16 col-lg-7">
      <div class="row">
        <div class="col-16">
          <div class="bml-output-wrapper">
            <div class="bml-output-target" id="bml-target-1"></div>
            <div class="bml-output-target" id="bml-target-2"></div>
          </div>
        </div>
      </div>
      <div class="row" aria-hidden="true">
        <div class="col" id="lao-tzu-5-source">
          天 地 之 間<br/>其 猶 橐 籥 乎<br/>虛 而 不 屈<br/>動 而 愈 出
        </div>
      </div>
    </div>
  </div>
</div>

{% raw %}
<!-- Code for live-regenerating BML example -->
<script>
 let bmlSrc = `{#bellows: (a bellows), (an accordion)}
{
  (Are not Heaven and Earth like {@bellows}?),
  (Yet Heaven and Earth and all that lies between are like {@bellows}.),
  (Yet is not the space between Heaven and Earth like {@bellows}?),
  (But isn't the space between Heaven and Earth like {@bellows}?)
}
Empty yet structured, \\
{@bellows:
  0 -> ({
    (worked, yet still the wind blows),
    (it moves, inexhaustibly giving)
  }),
  1 -> ({
    (pushed and pulled, inexhaustibly singing),
    (it moves, inexhaustibly singing),
    (worked, yet singing without end)
  })
}.

<p style="text-align: right"><i>— Lao Tzu 5</i></p>`;

 var editor = ace.edit("editor");
 editor.setValue(bmlSrc);
 editor.setTheme("ace/theme/monokai");
 editor.session.setMode("ace/mode/bml");
 editor.clearSelection();
 editor.moveCursorTo(0, 0);
 editor.renderer.setPadding(10);
 editor.renderer.setScrollMargin(10, 10);
 editor.setOptions({
   behavioursEnabled: true,
   showPrintMargin: false,
   showLineNumbers: false,
   showFoldWidgets: false,
   showGutter: false,
   useSoftTabs: true,
   wrap: true,
   highlightActiveLine: false,
   tabSize: 2,
 });

 let activeOutput = 1;
 function rotateBmlOutput() {
   let oldOutputTarget = document.getElementById('bml-target-' + activeOutput);
   oldOutputTarget.style.opacity = 0;
   activeOutput = activeOutput === 1 ? 2 : 1;
   let outputTarget = document.getElementById('bml-target-' + activeOutput);
   let newEditorValue = editor.getValue();
   if (newEditorValue !== bmlSrc) {
     let laoTzuSourceEl = document.getElementById('lao-tzu-5-source');
     laoTzuSourceEl.style.opacity = 0
   }
   try {
     outputTarget.innerHTML = bml(newEditorValue);
   } catch (e) {
     outputTarget.innerHTML = '<code class="bml-error">' + e + '</code>';
   }
   outputTarget.style.opacity = 1;
   setTimeout(rotateBmlOutput, 4000);
 }
 rotateBmlOutput();
</script>

{% endraw %}

{% endblock content %}
