{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% set title = "Try BML Online" %}
  {% set title_addition = "" %}
  {% set description = config.description %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=false) }}
{% endblock seo %}

{% block page_specific_head_tags %}
  <script src="/js/bml.bundle.min.js"></script>
  <script src="/js/ace/ace.js"></script>
  <script src="/js/relaxed-json.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
{% endblock page_specific_head_tags %}

<!-- Auto-enable dark mode on this page -->
{% block body %}{% set page_class="dark sandbox-page" %}{% endblock body %}

{% block content %}
<script>
 // Remove the dark/light mode toggle
 // This *should* be done at the template level, but Adidoks is structured
 // in such a way this is very awkward to do, so hack around it.
 document.getElementById('mode').style.display = 'none';
</script>

<div class="full-page-sandbox">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-start">
      <div class="col-9 editor-wrapper">
        <div id="editor">
        </div>
      </div>
      <div class="col-7">
        <!-- position relative -->
        <div class="bml-output-wrapper">
          <!-- position absolute -->
          <div class="bml-output-target-wrapper">
            <div class="bml-output-target" id="bml-target-1"></div>
          </div>
          <div class="bml-output-target-wrapper">
            <div class="bml-output-target" id="bml-target-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2 editor-help">
    <div class="row">
      <div class="col">
        <h3>Cheat Sheet</h3>
        <ul>
          <li>Inline choice: <code>{(X), (Y)}</code> → <i>X</i> or <i>Y</i></li>
          <li>With weights: <code>{(X) 70, (Y)}</code> → <i>X</i> (70% of the time) or <i>Y</i> (30% of the time)</li>
          <li>Nested choice: <code>{(X), (nested {(Y), (Z)})}</code> → <i>X</i> or (<i>nested Y</i> or <i>nested Z</i>)</li>
          <li>References: <code>{Name: (Alice), (Bob)} tied {@Name: 0 -> (her), 1 -> (his)} shoe.</code></li>
        </ul>
        <p>
          See <a href="/docs/the-language-language-overview">the docs</a> for more.
        </p>

      </div>
      <div class="col editor-settings">
        <h4>Settings</h4>
        <ul>
          <li>
            <label for="bml-refresh-rate-sec">Regeneration interval (secs):</label>
            <input type="number" id="bml-refresh-rate-sec" value="4" min="1"/>
          </li>
          <li>
            <label for="bml-render-settings">BML <a href="/docs/the-language/js-library/">render settings:</a></label>
            <code style="padding:0"><input type="text" id="bml-render-settings" value="{renderMarkdown: true}"/></code>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mobile-warning" tabindex="-1" aria-labelledby="mobile-warning-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mobile-warning-label">Window too small</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This live editor doesn't work well on smaller devices. For the intended experience, please consider using this tool from a desktop browser.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

{% raw %}
<script>
 if (window.innerWidth < 960) {
   let modal = new bootstrap.Modal(document.getElementById('mobile-warning'));
   modal.show();
 }

 let bmlSrc = `{#bellows: (a bellows), (an accordion)}
{
  (Are not Heaven and Earth like {@bellows}?),
  (Yet Heaven and Earth and all that lies between are like {@bellows}.),
  (Yet is not the space between Heaven and Earth like {@bellows}?),
  (But isn't the space between Heaven and Earth like {@bellows}?)
}

Empty yet structured,
{@bellows:
  0 -> ({
    (worked, yet still the wind blows),
    (it moves, inexhaustibly giving)
  }),
  1 -> ({
    (pushed and pulled, inexhaustibly singing),
    (it moves, inexhaustibly singing),
    (worked, yet singing without end)
  })
}.

<p style="text-align: right"><i>— Lao Tzu 5</i></p>`;

 var editor = ace.edit("editor");
 editor.setValue(bmlSrc);
 editor.setTheme("ace/theme/monokai");
 editor.session.setMode("ace/mode/bml");
 editor.clearSelection();
 editor.renderer.setPadding(10);
 editor.renderer.setScrollMargin(10,10);
 editor.moveCursorTo(0, 0);
 editor.setOptions({
   showPrintMargin: false,
   showLineNumbers: true,
   showFoldWidgets: false,
   showGutter: true,
   useSoftTabs: true,
   wrap: true,
   highlightActiveLine: true,
   tabSize: 2,
   vScrollBarAlwaysVisible: false,
 });
 editor.focus();

 let activeOutput = 1;
 let activeRefreshTimeout = null;
 function rotateBmlOutput() {
   let oldOutputTarget = document.getElementById('bml-target-' + activeOutput);
   oldOutputTarget.style.opacity = 0;
   activeOutput = activeOutput === 1 ? 2 : 1;
   let outputTarget = document.getElementById('bml-target-' + activeOutput);
   try {
     let bmlSettings = RJSON.parse(document.getElementById('bml-render-settings').value)
     outputTarget.innerHTML = bml(editor.getValue(), bmlSettings);
   } catch (e) {
     outputTarget.innerHTML = '<code class="bml-error">' + e + '</code>';
   }
   outputTarget.style.opacity = 1;

   let interval = document.getElementById('bml-refresh-rate-sec').valueAsNumber * 1000;
   activeRefreshTimeout = setTimeout(rotateBmlOutput, interval);
 }
 rotateBmlOutput();

 document.getElementById('bml-refresh-rate-sec').oninput = () => {
   clearTimeout(activeRefreshTimeout);
   rotateBmlOutput()
 };
</script>

{% endraw %}

{% endblock content %}
